<h1>Editing complaint</h1>

<%= error_messages_for :complaint %>

<% form_for(@complaint) do |f| %>
  <p>
    <b>Complaint</b><br />
    <%= f.text_area :complaint, :size => '40x5' %>
  </p>
  <p>
    <b>Location</b><br />
    <%= f.text_field :location_entry %>
    <% if @complaint.nice_location != @complaint.location_entry %>
    (Geocode lookup: <%=h @complaint.nice_location %>)
    <% end %>
  </p>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p><%= link_to 'Back to list', complaints_path %>
</p>